@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.pop-in-out {
  animation: popup 5s ease-in-out infinite;
}
.floater {
  animation: float 5s ease-in-out infinite;
}
@keyframes popup {
  0% {
    scale: 100%;
  }
  50% {
    scale: 80%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.scroll-match {
  animation: scroll-matcher linear;
  animation-timeline: view(0px 100px);
}
@keyframes scroll-matcher {
  to {
    transform: scale(2);
  }
}
